<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Search <%= classify(name) %></h4>
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
              <div class="row"><% for (let column of columnListJson.filter(c => c.is_searchable === 'Y')) { %>
                <mat-form-field class="col-md-3"><% if (column.el_type === 'text') { %>
                  <input matInput placeholder="<%= column.column_name %>" type="text" formControlName="<%= camelize(column.column_name.toLowerCase()) %>"><% } else if (column.el_type === 'textarea') { %>
                  <textarea matInput placeholder="<%= column.column_name %>" rows="2" formControlName="<%= camelize(column.column_name.toLowerCase()) %>"><% } else if (column.el_type === 'date') { %>
                  <input matInput placeholder="<%= column.column_name %>" [matDatepicker]="picker_<%= camelize(column.column_name.toLowerCase()) %>" formControlName="<%= camelize(column.column_name.toLowerCase()) %>">
                  <mat-datepicker-toggle matSuffix [for]="picker_<%= camelize(column.column_name.toLowerCase()) %>"></mat-datepicker-toggle>
                  <mat-datepicker #picker_<%= camelize(column.column_name.toLowerCase()) %>></mat-datepicker><% } %>
                </mat-form-field><% } %>
              </div>
              <div class="pull-right">
                <button mat-raised-button type="submit" class="btn btn-fill btn-rose">{{ 'button.search' | translate }}</button>
                <button mat-raised-button type="button" class="btn btn-fill btn-primary" (click)="create()">{{ 'button.create' | translate }}</button>
                <button mat-raised-button type="reset" class="btn btn-fill btn-default">{{ 'button.clear' | translate }}</button>
              </div>
            </form>
            <div class="material-datatables">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" (matSortChange)="tableControl.onSort($event)" matSort
                matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button class="btn btn-danger btn-round btn-fab mat-raised-button" (click)="onDelete(element); $event.stopPropagation();">
                      <span class="mat-button-wrapper">
                        <i class="material-icons">remove</i>
                      </span>
                    </button>
                  </td>
                </ng-container><% for (let column of columnListJson.filter(c => c.is_table === 'Y')) { %>
                <ng-container matColumnDef="<%= camelize(column.column_name.toLowerCase()) %>">
                  <th mat-header-cell *matHeaderCellDef<%= column.is_sortable === 'Y' ? ' mat-sort-header' : '' %>><%= column.column_name %></th>
                  <td mat-cell *matCellDef="let element"> {{element.<%= camelize(column.column_name.toLowerCase()) %>}} </td>
                </ng-container><% } %>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)"
                  [ngClass]="{ 'selected-row': selectedRow == row }"></tr>
              </table>
              <mat-paginator class="mat-paginator-sticky" (page)="tableControl.onPage($event)" [length]="tableControl.total"
                [pageSize]="tableControl.pageSize" [pageSizeOptions]="tableControl.pageSizeOptions" showFirstLastButtons>
              </mat-paginator>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="selectedRow">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title"><%= classify(name) %> Detail</h4>
          </div>
          <div class="card-body">
            <form #createFormDirective="ngForm" [formGroup]="createForm" (ngSubmit)="onSave()" novalidate>
              <div class="row"><% for (let column of columnListJson.filter(c => !system_fields.includes(c.column_name.toLowerCase()))) { %>
                <mat-form-field class="col-md-3"><% if (column.el_type === 'text') { %>
                  <input matInput placeholder="<%= column.column_name %>" type="text" formControlName="<%= camelize(column.column_name.toLowerCase()) %>"<%= column.is_identity === 'true' ? ' readonly' : '' %>><% } else if (column.el_type === 'textarea') { %>
                  <textarea matInput placeholder="<%= column.column_name %>" rows="2" formControlName="<%= camelize(column.column_name.toLowerCase()) %>"><% } else if (column.el_type === 'date') { %>
                  <input matInput placeholder="<%= column.column_name %>" [matDatepicker]="picker_<%= camelize(column.column_name.toLowerCase()) %>" formControlName="<%= camelize(column.column_name.toLowerCase()) %>">
                  <mat-datepicker-toggle matSuffix [for]="picker_<%= camelize(column.column_name.toLowerCase()) %>"></mat-datepicker-toggle>
                  <mat-datepicker #picker_<%= camelize(column.column_name.toLowerCase()) %>></mat-datepicker><% } %><% if (column.is_require === 'Y') { %>
                  <mat-error *ngIf="createForm.controls['<%= camelize(column.column_name.toLowerCase()) %>'].hasError('required')">
                    {{ 'error.required' | translate }}
                  </mat-error><% } %>
                </mat-form-field><% } %>
              </div>
              <button mat-raised-button type="submit" class="btn btn-fill btn-primary pull-right">{{ 'button.save' | translate }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>